h1 {
  font-size: 1.6em;
}

h2 {
  font-size: 1.4em;
}

body {
  background-color: #fdfdf9;
}

.header {
  box-shadow: 0 3px 10px rgba(0,0,0,.25);
  margin-bottom: 20px;
  height: 70px;
  position: relative;
}
.header .mdl-tabs__tab-bar {
  height: 70px;
  justify-content: flex-start;
}

.mdl-tabs__tab-bar {
  justify-content: space-around;
}

.header-tab {
  font-family: georgia;
  padding-top: 20px;
  height: 50px;
}

.mdl-grid.container {
  padding-left: 0;
}

@media (min-width: 600px) {
  .header {
    letter-spacing: .20rem;
  }
  .header-tab {
    min-width: 80px;
  }
}

@media (max-width: 600px) {
  button {
    width: 100%;
  }

  .mdl-chip {
    width: auto;
  }
}

.activetab {
  background-color: rgb(63, 81, 181);
  color: white !important;
}

.activetab:hover {
  background-color: rgb(63, 81, 181);
  color: white !important;
}

.tab {
  width: auto;
}

.header-cell {
  margin-top: 0;
}

.header .cart-icon {
  margin-top: 20px;
  cursor: pointer;
  color: black;
}

body, button, input, select, textarea {
    font: 14px/1.5 Helvetica Neue For Number,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,PingFang SC,Hiragino Sans GB,Microsoft YaHei,Helvetica Neue,Helvetica,Arial,sans-serif,'\5b8b\4f53',sans-serif;
}
.container {
  border-bottom: 1px solid #ddd;
  padding-bottom: 20px;
}

@media (min-width: 600px) {
  .container {
    margin: 0 40px 0 40px;
  }
  .productcard {
    width: 150px;
    min-width: 150px;
    height: 150px;
    min-height: 150px;
    margin: auto;
    cursor: pointer;
    margin: 10px 10px 0 0;
  }

  .designcard {
    width: 130px;
    min-width: 130px;
    height: 130px;
    min-height: 130px;
    margin: auto;
    cursor: pointer;
    margin: 10px 10px 0 0;
  }
}

@media (max-width: 600px) {
  .productcard, .designcard {
    width: 120px;
    min-width: 120px;
    height: 120px;
    min-height: 120px;
    margin: auto;
    cursor: pointer;
    margin: 5px 5px 0 0;
  }
  .textform {
    width: 100%;
  }
}

canvas {
  box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
}

.flexlist {
  margin-bottom: 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.productname {
  color: rgb(108, 108, 108);
  font-weight: bold;
  font-size: 1.2em;
}

.label {
  font-size: 0.8em;
  color: #666;
  font-weight: bold;
}

.cardacton {
  background: rgba(0,0,0,0.3);
  color: #fff;
  font-size: 14px;
  font-weight: 500;
}

.actionarea {
  position: relative;
  margin: 40px 40px 40px 40px;
  padding-bottom: 40px;
}
.actionbutton {
  position: absolute;
  right: 0;
}

.orderform {
  margin-top: 10%;
}

.tag {
  padding: 0 10px 0 10px;
  cursor: pointer;
}

.textform {
  position: relative;
  padding: 20px 20px 20px 20px;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
}

.closebutton {
  position: absolute;
  right: 0;
  top: 0;
}
.modal {
  width: 80%;
  position: relative;
  max-height:800px;
  overflow-y:auto;
}

.closemodal {
  position: absolute;
  top: 0px;
  right: 0px;
  height: 40px !important;
  width: 40px !important;
  min-width: 40px !important;
}

.error {
  color: #d50000;
  position: absolute;
  font-size: 12px;
  margin-top: 3px;
  display: block;
}

.cartitem .img {
  width: 180px;
  height: 180px;
}

.arrowicon {
  float: right;
}

.cartitem {
  height: 100%;
  cursor: auto;
  display: flex;
  padding-top: 10px;
  padding-bottom: 10px;
}

.cartitem h6 {
  color: #00b2a6;
  margin: 0px 10px 0 0;
}

.cartitem .description {
  width: 50%;
  padding-left: 20px;
  font-size: 0.9em;
}

.cartmenu {
  background: #fff;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
  position: absolute;
  z-index: 999;
  right: 15px;
  width: 370px;
  min-height: 100px;
  overflow: scroll;
}

.cartmenu p {
  font-size: 1.1em;
  margin-top: 20px;
  text-align: center;
}

.pricelabel {
  font-size: 1.1em;
  margin-top: 10px;
}

.actionsection {
  padding: 20px 0 20px 0;
}

.actionsection a {
  margin: 0 20px 0 20px;
  width: 75% !important
}

.searchfield {
  position: relative;
  width: 200px;
}

.searchpop {
  position: absolute;
  z-index: 999;
  top: 100px;
  width: 200px;
  background-color: rgba(255,255,255,1);
  box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
}

.searchpop ul {
  list-style: none;
}

.searchpop li {
  padding-top: 10px;
  cursor: pointer;
}

.shoppingcart {
  position: absolute;
  right: 30px;
  top: 15px;
}

.main-content {
  margin: auto;
  max-width: 1280px;
}

@media (max-width: 600px) {
  .cartitem button {
    width: auto;
  }
}

.paper-title {
  font-size: 1.5em;
  padding: 15px 30px 15px 30px;
  border-bottom: 1px solid #ddd;
}

.paper-content {
  padding: 15px 30px 15px 30px;
}

legend {
  font-weight: bold;
}

.landing-background {
  background:blue url("/image/background.jpg") no-repeat scroll center;
  height: 500px;
  margin-bottom: 20px;
  position: relative;
}

.landing-background .welcome {
  position: absolute;
  color: #fff;
  text-align: center;
  width: 100%;
  bottom: 10%;
}

.landing-background h2 {
  text-shadow: 0 0 10px rgba(20,20,20,.7);
  font-size: 2.2em;
  font-weight: bold;
}

.landing-category {
  max-width: 1000px;
  margin: auto;
}

@media (max-width: 1000px) {
  .product-card {
    width: 150px;
    margin: 0px 10px 20px 10px;
  }
  .category-card {
    width: 50%;
    padding: 3px 3px 3px 3px;
  }

  .landing-category-main {
    width: 100%;
    max-height: 230px;
    padding: 0px 0px 0px 3px;
  }

  .category-card2 {
    width: 100%;
    padding: 0px 3px 3px 3px;
  }
}

@media (max-height: 700px) {
  .landing-background {
    height: 400px;
  }
}

@media (min-width: 1000px) {
  .product-card {
    width: 200px;
    margin: 0px 10px 20px 10px;
  }
  .category-card {
    width: 230px;
    margin: 0px 10px 20px 10px;
  }

  .landing-category-main {
    width: 230px;
    margin: 0px 10px 20px 10px;
  }

  .category-card2 {
    width: 480px;
    margin: 0px 10px 20px 10px;
  }

  .landing-sub-cat {
    max-width: 750px;
  }
}


ul {
  list-style: none;
  padding: 0;
}

.product-card:hover {
  cursor: pointer;
}
